* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
}

main {
    width: fit-content;
    padding: 0 10px;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    margin-top: 10px;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.list-item-link {
    text-decoration: none;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
